{% extends 'base_logged.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block title %}Formulário de Resíduo{% endblock %}

{% block main %}

	<h3 class="jumbotron bg-dark text-white">Formulário de Resíduo</h3>
	<div class="row justify-content-md-center">
		<div class="col col-sm"></div>
		<div class="col-md-8">

			<form method="post">
				{% csrf_token %}

				<div class="form-row">
					<div class="form-group col-md-8">
						{{ waste_form.amount.label_tag }}
						{% render_field waste_form.amount class+="form-control" placeholder=waste_form.amount.label aria-describedby="amountHelpBlock" %}
						<small id="amountHelpBlock"
						       class="form-text text-muted">
							{{ waste_form.amount.help_text }}
						</small>
					</div>
					<div class="form-group col-md-4">
						{{ waste_form.unit.label_tag }}
						{% render_field waste_form.unit class+="form-control" placeholder=waste_form.unit.label %}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-5 dropdown-mul">
						{{ waste_form.chemical_makeup.label_tag }}
						{% render_field waste_form.chemical_makeup class+="form-control form-control-lg " aria-describedby="search_chemicalHelpBlock" %}
					</div>
					<div class="form-group col-md-7">
						{{ waste_form.chemical_makeup_text.label_tag }}
						{% render_field waste_form.chemical_makeup_text class+="form-control" placeholder=waste_form.chemical_makeup_text.label aria-describedby="chemicalHelpBlock" %}
						<small id="amountHelpBlock"
						       class="form-text text-muted">
							{{ waste_form.chemical_makeup_text.help_text }}
						</small>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						{{ waste_form.is_liquid.label_tag }}
						{% render_field waste_form.is_liquid class+="form-control" %}
					</div>
					<div class="form-group col-md-6">
						{{ waste_form.solvent_type.label_tag }}
						{% render_field waste_form.solvent_type class+="form-control" aria-describedby="solventHelpBlock" %}
						<small id="solventHelpBlock"
						       class="form-text text-muted">
							{{ waste_form.solvent_type.help_text }}
						</small>
					</div>
					<div class="form-group col-md-2">
						{{ waste_form.pH.label_tag }}
						{% render_field waste_form.pH class+="form-control" %}
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<div class="form-group col-md-auto">
							{{ waste_form.halogen.label_tag }}
							{% render_field waste_form.halogen class+="form-control" %}
						</div>
					</div>
					<div class="col">
						<div class="form-group col-md-auto">
							{{ waste_form.acetonitrile.label_tag }}
							{% render_field waste_form.acetonitrile class+="form-control" %}
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<div class="form-group col-md-auto">
							{{ waste_form.heavy_metals.label_tag }}
							{% render_field waste_form.heavy_metals class+="form-control" %}
						</div>
					</div>
					<div class="col">
						<div class="form-group col-md-auto">
							{{ waste_form.sulfur.label_tag }}
							{% render_field waste_form.sulfur class+="form-control" %}
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<div class="form-group col-md-auto">
							{{ waste_form.cyanide.label_tag }}
							{% render_field waste_form.cyanide class+="form-control" %}
						</div>
					</div>
					<div class="col">
						<div class="form-group col-md-auto">
							{{ waste_form.amine.label_tag }}
							{% render_field waste_form.amine class+="form-control" %}
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.explosive.label_tag }}
							{% render_field waste_form.explosive class+="form-control" %}
						</div>
					</div>
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.flammable.label_tag }}
							{% render_field waste_form.flammable class+="form-control" %}
						</div>
					</div>
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.oxidizing.label_tag }}
							{% render_field waste_form.oxidizing class+="form-control" %}
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.under_pressure.label_tag }}
							{% render_field waste_form.under_pressure class+="form-control" %}
						</div>
					</div>
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.toxic.label_tag }}
							{% render_field waste_form.toxic class+="form-control" %}
						</div>
					</div>
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.corrosive.label_tag }}
							{% render_field waste_form.corrosive class+="form-control" %}
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.health_dangerous.label_tag }}
							{% render_field waste_form.health_dangerous class+="form-control" %}
						</div>
					</div>
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.pollutant.label_tag }}
							{% render_field waste_form.pollutant class+="form-control" %}
						</div>
					</div>
					<div class="col-sm">
						<div class="form-group col-md-auto">
							{{ waste_form.cannot_agitate.label_tag }}
							{% render_field waste_form.cannot_agitate class+="form-control" %}
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-auto">
						{{ waste_form.comments.label_tag }}
						{% render_field waste_form.comments class+="form-control responsive-textarea" %}
					</div>
				</div>

				<div class="form-group">
					<div class="custom-control custom-checkbox mb-3">
						<input type="checkbox" class="custom-control-input"
						       id="customControlValidation1" required>
						<label class="custom-control-label"
						       for="customControlValidation1">
							Comprometo-me com todas as informações inseridas.
						</label>
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-primary" type="submit">Salvar
					</button>
				</div>

			</form>
		</div>
		<div class="col col-sm"></div>
	</div>

{% endblock %}

{% block script %}
	<script>
        $('.dropdown-mul').dropdown({
            limitCount: 40,
            multipleMode: 'label',
        });
	</script>
{% endblock %}