{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Link enviado{% endblock %}

{% block main %}

    <div class="jumbotron">
        <h3>Verifique seu e-mail</h3>
        <p>
            Um link foi enviado ao seu e-mail para recuperação da sua senha.
        </p>
    </div>
    <a href="{% url 'home' %}">
        <button type="button" class="btn btn-primary btn-lg btn-block">
            <i class="link-home fas fa-home fa-5x"  title=""></i>
        </button>
    </a>
{% endblock %}