{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Alteração de senha{% endblock %}

{% block main %}
    {% if validlink %}
        <h3>Alteração de senha</h3>
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <button type="submit">Change password</button>
        </form>
    {% else %}
        <p>
            O link de recuperação de senha estava inválido. Isso pode acontecer
            caso ele já tenha sido usado ou por estar expirado.
        </p>
        <p>
            Favor requisitar um novo link para concluir o procedimento.
        </p>
        <a href="{% url 'reset_password' %}">Esqueci a senha</a>
    {% endif %}
{% endblock %}