{% extends 'base_logged.html' %}

{% block title %} Minhas Imagens {% endblock %}

{% block main %}

    <div class="jumbotron">
        <h1>Minhas Imagens</h1>
    </div>
    {% if my_pictures %}
        <table class="table table-striped table-responsive-md">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Data de criação</th>
                <th scope="col" class="text-center">Editar</th>
                <th scope="col" class="text-center">Deletar</th>
                <th scope="col" class="text-center">Análise</th>
            </tr>
            </thead>
            <tbody>
            {% for pic in my_pictures %}
                <tr>
                    <th scope="row" class="text-center">
                        <a href="{{ media_url }}{{ pic.content.name }}">
                            <img src="{{ media_url }}{{ pic.content.name }}"
                                 class="img-fluid rounded float-left"
                                 style="height: 40px; width: 40px;"/>
                        </a>
                    </th>
                    <td>
                        {{ pic.creation_date }}
                    </td>
                    <td class="text-center">
                        <a class="btn btn-info"
                           href="{% url 'update_pic' pic.id %}">
                            <i class="fas fa-pen fa-2x"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-danger"
                           href="{% url 'delete_pic' pic.id %}">
                            <i class="fas fa-trash-alt fa-2x"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning"
                           href="{% url 'report_pic' pic.id %}">
                            <i class="fas fa-file-alt fa-2x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h4>
        <a class="btn btn-primary" href="{% url 'create_pic' %}">Nova
            imagem</a>
    </h4>

{% endblock %}